{% extends 'Pages/base.html.twig' %}

{% block pageContent %}
    <section class="sec-zone container-fluid">
        <div class="container aboutMe">
            <article class="row">
                <img class="img-fluid col" src="assets/images/ico.png" alt="Djianni">
                <div class="aboutText col">
                    <ul class="col-12">
                        <li><span class="aboutSpan">Age : </span>21 ans</li>
                        <li><span class="aboutSpan">Ville(s) : </span>Vichy - Troyes</li>
                        <li><span class="aboutSpan">E-Mail : </span><p>Djianni.orrunowicki@gmail.com</p></li>
                        <li><span class="aboutSpan">Mobile : </span>06.73.82.53.45</li>
                    </ul>
                    <p class="col-12">Je suis étudiant actuellement en 2ème année décalée du DUT MMI à l'IUT de Troyes,
                        <br>titulaire d'un baccalauréat Scientifique et j'ai pour vocation de continuer mes études dans le domaine des nouvelles technologies.
                        <br>Je suis aussi actuellement en recherche de stage : n'hésitez pas à me contacter pour plus d'informations ! :-)</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}



