{% extends 'Pages/base.html.twig' %}

{% block pageContent %}
    <section class="sec-zone container-fluid">
        <div class="row">
            <article class="col-12 text-center">
                <h3>Me contacter</h3>
                <p>Désolé, cette fonctionnalité n'est pas encore implémentée !
                    <br>Cependant vous pouvez me contacter avec cette adresse e-mail : Djianni.orrunowicki@gmail.com.
                </p>
            </article>
        </div>
    </section>
{% endblock %}

