{% extends 'base.html.twig' %}

{% block content %}
<body>
    <main>
        <div id="particles-js" class="animated fadeIn"></div>

        <header>
            <nav class="indnavbar">
                <ul class="animated fadeIn">
                    <li><a href="{{ path('aboutme') }}">About me</a></li>
                    <li><a href="{{ path('myWorks') }}">My Works</a></li>
                    <li><a href="{{ path('skillsCV') }}">Skills and CV</a></li>
                    <li><a href="{{ path('contact') }}">Contact me</a></li>
                </ul>
            </nav>
        </header>

        <section class="master-zone container-fluid">
            <div>
                <h1 class="animated fadeIn">ORRU-NOWICKI Djianni</h1>
                <h1 class="animated fadeIn">Web Developper</h1>
            </div>
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/particles.js"></script>
    <script src="assets/js/index.js"></script>
{% endblock %}