{% extends 'Pages/base.html.twig' %}

{% block pageContent %}
    <section class="sec-zone container-fluid">
        <div class="row">
            <div class="col-md-3 col-12 text-center">
                <h3>Front-End</h3>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript/jQuery</li>
                    <li>Vue.js</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="col-md-3 col-12 text-center">
                <h3>Back-End et CMS</h3>
                <ul>
                    <li>PHP</li>
                    <li>MySQL/PHPMyAdmin</li>
                    <li>CodeIgniter</li>
                    <li>Symfony 4</li>
                    <li>WordPress</li>
                </ul>
            </div>
            <div class="col-md-3 col-12 text-center">
                <h3>Gestion serveur</h3>
                <ul>
                    <li>Connaissances Linux</li>
                    <li>Apache2</li>
                    <li>Connaissances maintenance hardware (remplacement de pièces)</li>
                </ul>

            </div>
            <div class="col-md-3 col-12 text-center">
                <h3>Autres compétences</h3>
                <ul>
                    <li>Suite Adobe (PhotoShop, Illustrator, InDesign)</li>
                    <li>Suite Microsoft Office</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>Mon CV</h3>
                <p>Cliquez dessus pour le télécharger !</p>
                <a href="assets/images/CV_ORRU-NOWICKI_DJIANNI.pdf" target="_blank"><img src="assets/images/CV_ORRU-NOWICKI_DJIANNI.png" alt="CV" class="img-fluid"></a>
            </div>

        </div>
    </section>
{% endblock %}


