{% extends 'Pages/base.html.twig' %}

{% block pageContent %}
    <section class="sec-zone container-fluid">
        <article class="container">
            <h3>Développement Web</h3>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <a href="http://195.83.128.55/~mmi171da09/dutaf/"  target="_blank"><div class="card">
                            <img class="card-img-top" src="assets/images/ico.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">DUTAF Online</h5>
                                <p class="card-text">Site dynamique en S2 réalisé en PHP brut.</p>
                            </div>
                        </div></a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="http://195.83.128.55/~mmi171da09/stpavut/"  target="_blank"><div class="card">
                            <img class="card-img-top" src="assets/images/ico.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">StPavut</h5>
                                <p class="card-text">Site dynamique en S3 réalisé avec codeIgniter en respectant la méthode MVC.</p>
                            </div>
                        </div></a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="http://195.83.128.55/~mmi171da09/RI/"  target="_blank"><div class="card">
                            <img class="card-img-top" src="assets/images/ico.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">GreenLiten</h5>
                                <p class="card-text">Projet de fin de S3 réalisé en groupe avec Symfony 4 : j'étais chargé du développement back-end et de l'implémentation des contenus données par l'intégrateur.</p>
                            </div>
                        </div></a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="http://195.83.128.55/~mmi171da09/RI/"  target="_blank"><div class="card">
                            <img class="card-img-top" src="assets/images/ico.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Quizz Relations Internationales</h5>
                                <p class="card-text">Quizz rapidement réalisé avec PHP et JS pour l'activité RI de l'IUT.</p>
                            </div>
                        </div></a>
                </div>
            </div>
        </article>
    </section>
{% endblock %}

